# **Exercise: Pandas Merging**

Gunakan datasets:
- audi.csv
- hyundai.csv
- toyota.csv

Dataset ini berisi data penjualan mobil bekas

Load ketiga dataset di atas, kemudian simpan masing-masing dataset ke dalam sebuah variable!

Selain menggunakan materi yang telah didapatkan, gunakan juga skill googling Anda untuk mempermudah mengerjakan latihan ini.

In [4]:
import numpy as np
import pandas as pd

Dataset: https://www.kaggle.com/adityadesai13/used-car-dataset-ford-and-mercedes?select=toyota.csv

Di bawah ini adalah tampilan 5 baris pertama dari ketiga dataset tersebut

**Audi**

In [6]:
df_audi = pd.read_csv(r'D:\Gawe\projects_learning\practice\dataset\used car\audi.csv')
df_audi.head()

  model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0    A1  2017  12500       Manual    15735   Petrol  150  55.4         1.4
1    A6  2016  16500    Automatic    36203   Diesel   20  64.2         2.0
2    A1  2016  11000       Manual    29946   Petrol   30  55.4         1.4
3    A4  2017  16800    Automatic    25952   Diesel  145  67.3         2.0
4    A3  2019  17300       Manual     1998   Petrol  145  49.6         1.0

**Hyundai**

In [7]:
df_hyundai = pd.read_csv(r'D:\Gawe\projects_learning\practice\dataset\used car\hyundi.csv')
df_hyundai.head()

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,I20,2017,7999,Manual,17307,Petrol,145,58.9,1.2
1,Tucson,2016,14499,Automatic,25233,Diesel,235,43.5,2.0
2,Tucson,2016,11399,Manual,37877,Diesel,30,61.7,1.7
3,I10,2016,6499,Manual,23789,Petrol,20,60.1,1.0
4,IX35,2015,10199,Manual,33177,Diesel,160,51.4,2.0

**Toyota**

In [8]:
df_toyota = pd.read_csv(r'D:\Gawe\projects_learning\practice\dataset\used car\toyota.csv')
df_toyota.head()

   model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0   GT86  2016  16000       Manual    24089   Petrol  265  36.2         2.0
1   GT86  2017  15995       Manual    18615   Petrol  145  36.2         2.0
2   GT86  2015  13998       Manual    27469   Petrol  265  36.2         2.0
3   GT86  2017  18998       Manual    14736   Petrol  150  36.2         2.0
4   GT86  2017  17498       Manual    36284   Petrol  145  36.2         2.0

## **No.1**

- Jika Anda perhatikan, nama kolom 'tax(£)' di dataset hyundai berbeda dengan di dataset lainnya.
- Ubah nama kolom tersebut menjadi 'tax' agar sama dengan di dataset yang lain.

In [9]:
df_hyundai.rename(columns={'tax(£)':'tax'},inplace= True)

In [10]:
df_hyundai.head()

     model  year  price transmission  mileage fuelType  tax   mpg  engineSize
0      I20  2017   7999       Manual    17307   Petrol  145  58.9         1.2
1   Tucson  2016  14499    Automatic    25233   Diesel  235  43.5         2.0
2   Tucson  2016  11399       Manual    37877   Diesel   30  61.7         1.7
3      I10  2016   6499       Manual    23789   Petrol   20  60.1         1.0
4     IX35  2015  10199       Manual    33177   Diesel  160  51.4         2.0

## **No.2**

- Buat kolom baru bernama 'brand' dengan isi nama brand mobilnya, letakkan pada kolom paling kiri. 
- Misalnya:
    - Untuk data frame audi, isi kolom 'brand' dengan 'Audi' semua!
    - Untuk data frame hyundai, isi kolom 'brand' dengan 'Hyundai' semua!
    - Untuk data frame toyota, isi kolom 'brand' dengan 'Toyota'semua!

In [11]:
df_audi.insert(0,'brand','Audi')
df_hyundai.insert(0,'brand','Hyundai')
df_toyota.insert(0,'brand','Toyota')

In [21]:
df_audi.sum()

brand           AudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAudiAu...
model            A1 A6 A1 A4 A3 A1 A6 A4 A3 A1 A3 A6 Q3 A3 A6 ...
year                                                     21518430
price                                                   244261836
transmission    ManualAutomaticManualAutomaticManualAutomaticA...
mileage                                                 264857039
fuelType        PetrolDieselPetrolDieselPetrolPetrolDieselDies...
tax                                                       1344290
mpg                                                      541614.6
engineSize                                                20596.8
dtype: object

## **No.3**

- Gabungkan ketiga data frame tersebut menjadi sebuah data frame bernama df_car. Atur agar indexnya tidak ada yang berulang.

In [17]:
df_car = pd.concat([df_audi,df_hyundai,df_toyota], ignore_index= True)

In [25]:
print(len(df_audi))
print(len(df_toyota))
print(len(df_hyundai))

print(len(df_car))

10668
6738
4860
22266

## **No.4**

- Pada kolom 'model' di sebagian data, ada whitespace tambahan di awal atau di akhir yang tidak berguna. 
- Hapus whitespace tersebut dari semua data pada kolom 'model'!

In [28]:
df_car['model']

0                   A1
1                   A6
2                   A1
3                   A4
4                   A3
             ...
22261               IQ
22262    Urban Cruiser
22263    Urban Cruiser
22264    Urban Cruiser
22265    Urban Cruiser
Name: model, Length: 22266, dtype: object

In [27]:
df_car['model']=df_car['model'].str.lstrip()
df_car['model']=df_car['model'].str.rstrip()

## **No.5**

- Dari df_car, tampilkan rata-rata pajak/tax berdasarkan brand dan transmission. Lalu urutkan dari tax yang paling tinggi.

In [31]:
avg_tax_df = df_car.groupby(['brand', 'transmission'])['tax'].mean().reset_index()
avg_tax_df = avg_tax_df.sort_values(by='tax', ascending=False)
print(avg_tax_df)

      brand transmission         tax
3   Hyundai    Automatic  151.449925
0      Audi    Automatic  149.411004
6   Hyundai    Semi-Auto  148.711073
2      Audi    Semi-Auto  143.517126
10   Toyota    Semi-Auto  124.015748
4   Hyundai       Manual  111.147881
8    Toyota       Manual  104.218505
1      Audi       Manual   97.119478
7    Toyota    Automatic   78.219797
5   Hyundai        Other   72.500000
9    Toyota        Other    0.000000

## **No.6**

- Anda diminta untuk mencari mobil Toyota Camry yang harganya (price) di bawah rata-rata harga Camry dan jarak tempuhnya (mileage) di bawah rata-rata mileage Camry juga. 
- Tampilkan mobil yang sesuai dengan kriteria tersebut!

In [35]:
df_car.head()

,brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,Audi,A1,2017,12500,Manual,15735,Petrol,150,55.4,1.4
1,Audi,A6,2016,16500,Automatic,36203,Diesel,20,64.2,2.0
2,Audi,A1,2016,11000,Manual,29946,Petrol,30,55.4,1.4
3,Audi,A4,2017,16800,Automatic,25952,Diesel,145,67.3,2.0
4,Audi,A3,2019,17300,Manual,1998,Petrol,145,49.6,1.0

In [38]:
average_price_camry = df_car[df_car['model'] == 'Camry']['price'].mean()
average_mileage_camry = df_car[df_car['model'] == 'Camry']['mileage'].mean()

In [39]:
camry_car = df_car[
    (df_car['model'] == 'Camry') &
    (df_car['price'] < average_price_camry) &
    (df_car['mileage'] < average_mileage_camry)
]

print(camry_car)

        brand  model  year  price transmission  mileage fuelType  tax   mpg  \
22242  Toyota  Camry  2019  24990    Automatic     5145   Hybrid  135  52.3
22246  Toyota  Camry  2019  26491    Automatic     4416   Hybrid  135  52.3

       engineSize
22242         2.5
22246         2.5

## **No.7**

Simpan df_car ke dalam format .csv dengan nama file 'all_cars.csv'!

In [41]:
df_car.to_csv(r'D:\Gawe\projects_learning\practice\dataset\all_cars.csv',sep='|')

## **No.8**

Tampilkan mobil paling mahal!

In [42]:
most_expensive_car = df_car.nlargest(1, 'price')
print(most_expensive_car)

     brand model  year   price transmission  mileage fuelType  tax   mpg  \
4783  Audi    R8  2020  145000    Semi-Auto     2000   Petrol  145  21.1

      engineSize
4783         5.2

## **No.9**

Pada tahun berpa mobil Toyota paling banyak muncul

In [43]:
toyota = df_car[df_car['brand'] == 'Toyota']
toyota_counts_by_year = toyota['year'].value_counts()
most_common_year = toyota_counts_by_year.idxmax()

print(f"Toyota paling banyak muncul pada tahun: {most_common_year}")

Toyota paling banyak muncul pada tahun: 2017

## **No.10**

Tampilkan jumlah mobil totoya keluaran 2019 untuk tiap model

In [44]:
toyota_2019 = df_car[(df_car['brand'] == 'Toyota') & (df_car['year'] == 2019)]

toyota_2019_counts_by_model = toyota_2019['model'].value_counts() 

print(f"jumlah mobil toyota 2019 tiap model: {toyota_2019_counts_by_model}")

jumlah mobil toyota 2019 tiap model: model
Yaris           398
Aygo            379
Corolla         227
C-HR            108
RAV4             46
Prius            37
GT86             19
Hilux            19
Land Cruiser     15
PROACE VERSO     13
Supra            12
Camry            10
Auris             3
Name: count, dtype: int64

## **No.11**

Tampilkan model dari Toyota yang paling irit (mpg paling tinggi)

In [46]:
most_fuel_efficient_model = toyota.loc[toyota['mpg'].idxmax()]
print(f"Model Toyota paling irit: {most_fuel_efficient_model['model']} dengan MPG {most_fuel_efficient_model['mpg']}")

Model Toyota paling irit: Prius dengan MPG 235.0

## **No.12**

Tamplikan mobil yang nama modelnya mengandung huruf 'x'!

In [47]:
x_cars = df_car[df_car['model'].str.contains('x', case=False)]
print(x_cars)

         brand  model  year  price transmission  mileage fuelType  tax   mpg  \
10672  Hyundai   IX35  2015  10199       Manual    33177   Diesel  160  51.4
10692  Hyundai   IX35  2013   8200       Manual    34500   Diesel  145  53.3
10717  Hyundai   IX35  2015  11400       Manual    23041   Diesel  165  51.4
10728  Hyundai   IX20  2013   6000       Manual    42320   Petrol  145  45.6
10738  Hyundai   IX20  2016   9000       Manual    21152   Diesel   30  64.2
...        ...    ...   ...    ...          ...      ...      ...  ...   ...
22157   Toyota  Hilux  2013  12000    Automatic    92007   Diesel  260  32.8
22158   Toyota  Hilux  2014   9694       Manual    93334   Diesel  260  38.7
22159   Toyota  Hilux  2019  24995    Automatic    17200   Diesel  260  36.2
22160   Toyota  Hilux  2016  15650       Manual    20250   Diesel  265  40.4
22161   Toyota  Hilux  2015   9995       Manual    80069   Diesel  260  38.7

       engineSize
10672         2.0
10692         1.7
10717         0.0
10728         1.4
10738         1.6
...           ...
22157         3.0
22158         2.5
22159         2.4
22160         2.4
22161         2.5

[408 rows x 10 columns]

## **No.13**

Buat dataframe baru dengan pivot table berisi rata-rata tax tiap transmission dan fuelType

In [48]:
pivot_table = pd.pivot_table(df_car, values='tax', index=['transmission'], columns=['fuelType'], aggfunc='mean')
print(pivot_table)

fuelType          Diesel      Hybrid       Other      Petrol
transmission
Automatic     153.904594   67.880993  104.405941  148.363243
Manual         88.275379  138.400000   30.000000  110.354446
Other                NaN    0.000000         NaN  145.000000
Semi-Auto     143.757590  122.192982         NaN  142.955056

## **No.14**

Ada berapa model yang hanya ada 1 unit mobil di dataset ini? (mobil langka)

In [49]:
model_counts = df_car['model'].value_counts()
rare_count = (model_counts == 1).sum()
print(f"Ada {rare_count} model yang hanya memiliki 1 unit mobil.")

Ada 4 model yang hanya memiliki 1 unit mobil.