# Exercise: Pandas

- Indexing
- Group by
- Sort Values

In [44]:
import numpy as np 
import pandas as pd 
import seaborn as sns

In [45]:
mpg = sns.load_dataset('mpg')
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

1. Tampilkan nilai yang paling sering muncul pada kolom 'origin'

In [46]:
most_common_origin = mpg['origin'].mode().values[0]
print(f"Nilai yang paling sering muncul pada kolom 'origin': {most_common_origin}")

Nilai yang paling sering muncul pada kolom 'origin': usa

2. Tampilkan rata-rata horsepower

In [47]:
avg_hp = mpg['horsepower'].mean()
print(f"Rata-rata horsepower: {avg_hp:.2f}")

Rata-rata horsepower: 104.47

3. Tampilkan rata-rata acceleration tiap cylinder

In [48]:
avg_acceleration_per_cylinder = mpg.groupby('cylinders')['acceleration'].mean()
print("Rata-rata acceleration tiap cylinder:")
print(avg_acceleration_per_cylinder.round(2))

Rata-rata acceleration tiap cylinder:
cylinders
3    13.25
4    16.60
5    18.63
6    16.26
8    12.96
Name: acceleration, dtype: float64

4. Tampilkan rata-rata acceleration tiap cylinder dan origin

In [49]:
avg_acceleration_per_cylinder_origin = mpg.groupby(['cylinders', 'origin'])['acceleration'].mean()
print("Rata-rata acceleration tiap cylinder dan origin:")
print(avg_acceleration_per_cylinder_origin.round(2))

Rata-rata acceleration tiap cylinder dan origin:
cylinders  origin
3          japan     13.25
4          europe    16.72
           japan     16.57
           usa       16.53
5          europe    18.63
6          europe    16.42
           japan     13.55
           usa       16.47
8          usa       12.96
Name: acceleration, dtype: float64

5. Tampilkan rata-rata acceleration tiap cylinder dan origin, kemudian urutkan hasilnya dari acceleration paling tinggi.

In [50]:
group_avg_acceleration = mpg.groupby(['cylinders', 'origin'])['acceleration'].mean()
result = group_avg_acceleration.sort_values(ascending=False)
print("Rata-rata acceleration tiap cylinder dan origin (diurutkan):")
print(result.round(2))

Rata-rata acceleration tiap cylinder dan origin (diurutkan):
cylinders  origin
5          europe    18.63
4          europe    16.72
           japan     16.57
           usa       16.53
6          usa       16.47
           europe    16.42
           japan     13.55
3          japan     13.25
8          usa       12.96
Name: acceleration, dtype: float64

6. Tampilkan jumlah mobil tiap cylinder

In [51]:
sum_car_per_cylinder = mpg.groupby('cylinders')['name'].count()
print("jumlah mobil tiap cylinder:")
print(sum_car_per_cylinder)

jumlah mobil tiap cylinder:
cylinders
3      4
4    204
5      3
6     84
8    103
Name: name, dtype: int64

7. Tampilkan mobil dari japan dengan nilai mpg paling tinggi

In [52]:
japan = mpg[mpg['origin'] == 'japan']
japan_highest_mpg = japan.loc[japan['mpg'].idxmax()]
print("Mobil dari Japan dengan nilai mpg tertinggi:")
print(japan_highest_mpg)

Mobil dari Japan dengan nilai mpg tertinggi:
mpg                  46.6
cylinders               4
displacement           86
horsepower             65
weight               2110
acceleration         17.9
model_year             80
origin              japan
name            mazda glc
Name: 322, dtype: object

8. Displacement adalah jumlah volume total dari seluruh cylinder. Buat kolom baru bernama 'volume_per_cylinder'.

In [53]:
mpg['volume_per_cylinder'] = mpg['displacement'] / mpg['cylinders']
print(mpg.head())

    mpg  cylinders  displacement  horsepower  weight  acceleration  \
0  18.0          8         307.0       130.0    3504          12.0
1  15.0          8         350.0       165.0    3693          11.5
2  18.0          8         318.0       150.0    3436          11.0
3  16.0          8         304.0       150.0    3433          12.0
4  17.0          8         302.0       140.0    3449          10.5

   model_year origin                       name  volume_per_cylinder
0          70    usa  chevrolet chevelle malibu               38.375
1          70    usa          buick skylark 320               43.750
2          70    usa         plymouth satellite               39.750
3          70    usa              amc rebel sst               38.000
4          70    usa                ford torino               37.750

In [54]:
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,volume_per_cylinder
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,38.375
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,43.750
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,39.750
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,38.000
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,37.750
...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,35.000
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,24.250
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,33.750
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,30.000
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,29.750

9. Tampilkan jumlah mobil keluaran tahun 1975

In [55]:
cars_1975 = mpg[mpg['model_year'] == 75]
count_cars_1975 = cars_1975.shape[0]
print(f"Jumlah mobil keluaran tahun 1975 ada {count_cars_1975} mobil")

Jumlah mobil keluaran tahun 1975 ada 30 mobil

10. Buat kolom baru bernama 'origin_brand' berisi nama origin dan brand-nya.

    Contoh:
    - usa chevrolet
    - usa buick 
    - europe vw

In [56]:
mpg['origin_brand'] = mpg['origin'] + ' ' + mpg['name']
mpg

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name,volume_per_cylinder,origin_brand
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu,38.375,usa chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320,43.750,usa buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite,39.750,usa plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst,38.000,usa amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino,37.750,usa ford torino
...,...,...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl,35.000,usa ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup,24.250,europe vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage,33.750,usa dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger,30.000,usa ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10,29.750,usa chevy s-10

11. Apakah ada kolom yang punya missing values? Jika ada, tampilkan data yang punya missing values!

In [57]:
missing_values = mpg.isnull().any()

columns_with_missing_values = missing_values[missing_values].index

if len(columns_with_missing_values) > 0:
    print("Kolom dengan missing values:")
    print(mpg[columns_with_missing_values][mpg[columns_with_missing_values].isnull().any(axis=1)])
else:
    print("Tidak ada kolom dengan missing values.")

Kolom dengan missing values:
     horsepower
32          NaN
126         NaN
330         NaN
336         NaN
354         NaN
374         NaN

12. Isi missing values pada kolom tersebut dengan mediannya

In [61]:
median_horsepower = mpg['horsepower'].median()
print(median_horsepower)
mpg['horsepower'].fillna(median_horsepower, inplace=True)

93.5

In [64]:
lookup_index = [32, 126, 330, 336, 354, 374]

hp_values = mpg.loc[lookup_index, 'horsepower']
for index, value in zip(lookup_index, hp_values):
    print(f"The new horsepower value at index {index} is: {value}")

The new horsepower value at index 32 is: 93.5
The new horsepower value at index 126 is: 93.5
The new horsepower value at index 330 is: 93.5
The new horsepower value at index 336 is: 93.5
The new horsepower value at index 354 is: 93.5
The new horsepower value at index 374 is: 93.5