In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'D:\Gawe\projects_learning\capstone_3\data\data_travel_insurance.csv')
df.head()

,Agency,Agency Type,Distribution Channel,Product Name,Gender,Duration,Destination,Net Sales,Commision (in value),Age,Claim
0,C2B,Airlines,Online,Annual Silver Plan,F,365,SINGAPORE,216.0,54.0,57,No
1,EPX,Travel Agency,Online,Cancellation Plan,NaN,4,MALAYSIA,10.0,0.0,33,No
2,JZI,Airlines,Online,Basic Plan,M,19,INDIA,22.0,7.7,26,No
3,EPX,Travel Agency,Online,2 way Comprehensive Plan,NaN,20,UNITED STATES,112.0,0.0,59,No
4,C2B,Airlines,Online,Bronze Plan,M,8,SINGAPORE,16.0,4.0,28,No

In [4]:
df.isna().sum()

Agency                      0
Agency Type                 0
Distribution Channel        0
Product Name                0
Gender                  31647
Duration                    0
Destination                 0
Net Sales                   0
Commision (in value)        0
Age                         0
Claim                       0
dtype: int64

In [6]:
df['Agency'].value_counts()

Agency
EPX    24656
CWT     5980
C2B     5753
JZI     4433
SSI      765
JWT      522
RAB      513
LWC      455
TST      354
KML      281
ART      229
CCR      126
TTW       69
CBH       69
CSR       68
ADM       55
Name: count, dtype: int64