In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report
import pickle

In [2]:
df = pd.read_csv(r'D:\Purwadhika\belajar aja\learning\capstone_3\data\data_travel_insurance_transform.csv',sep='|')
df.head()

,Duration,Net Sales,Commision (in value),Age,Agency,Agency Type,Distribution Channel,Product Name,Claim,Destination
0,365,216.0,54.0,57,2,0,1,4,0,109
1,4,10.0,0.0,33,7,1,1,10,0,73
2,19,22.0,7.7,26,9,0,1,8,0,52
3,20,112.0,0.0,59,7,1,1,1,0,129
4,8,16.0,4.0,28,2,0,1,9,0,109

In [3]:
# Test Train Split
features = df.drop("Claim", axis =1)
X_train, X_test, y_train, y_test = train_test_split(features,df["Claim"],test_size=0.30,random_state=10)
print(f"X_train data is {X_train.shape}")
print(f"y_train data is {y_train.shape}")
print(f"X_test data is {X_test.shape}")
print(f"y_test data is {y_test.shape}")

X_train data is (27190, 9)
y_train data is (27190,)
X_test data is (11654, 9)
y_test data is (11654,)

## Clasification with random forest

In [5]:
model = RandomForestClassifier()
model.fit(X_train, y_train)
accuracy = model.score(X_test, y_test)
print(f"Accuracy of RandomForest Test Model ---> {accuracy}")

Accuracy of RandomForest Test Model ---> 0.9817230135575769

In [6]:
predictions_rf = model.predict(X_test)
print("Classification Report:")
print(classification_report(y_test, predictions_rf))

Classification Report:
              precision    recall  f1-score   support

           0       0.98      1.00      0.99     11461
           1       0.14      0.02      0.04       193

    accuracy                           0.98     11654
   macro avg       0.56      0.51      0.51     11654
weighted avg       0.97      0.98      0.97     11654

## SVM

In [11]:
svm_classifier = SVC(kernel='linear', random_state=42)
svm_classifier.fit(X_train, y_train)

# Make predictions on the testing set
predictions_svm = svm_classifier.predict(X_test)
print("Classification Report:")
print(classification_report(y_test, predictions_svm))